@page
@{
    Layout = "Shared/_Layout.cshtml";
}
@section title {
    <title>About</title>    
}
@section siteMenu {
    <div name="Site Menu">
        <table width="100%">
            <tr>
                <th><a href="Index">Rogers Pizza</a></th>
                <th><a href="Menu">Menu</a></th>
                <th><a href="Order">Order</a></th>
                <th>About</th>
                <th><a href="Contact">Contact</a></th>
                <th><a href="Employees">Employees</a></th>
            </tr>
        </table>
    </div>
}

@section body {
    <p>Rogers Pizza is a fictional pizza place formed from my love of pizza. I, Kevin, have always enjoyed pizza as my favorite food and wanted to share the love of pizza with the world. Thus, Rogers Pizza was born!</p>
    <p>At Rogers Pizza, we use all-natural and locally grown ingredients, ensuring that you receive the healthiest experience possible.</p>
    <p>We value customer service and understand that customer experience is essential for success.</p>
    <p>If you have any feedback, questions, comments, or business inquiries, please see the "Contact" page above in the site menu</p>
    <p></p>
}