@page
@model RogersPizza.Pages.ConfirmationModel
@{
    Layout = "Shared/_Layout.cshtml";
}
@section title {
    <title>Thank you for your order!</title>    
}
@section siteMenu {
    <div name="Site Menu">
        <table width="100%">
            <tr>
                <th><a href="Index">Rogers Pizza</a></th>
                <th><a href="Menu">Menu</a></th>
                <th><a href="Order">Order</a></th>
                <th><a href="About">About</a></th>
                <th><a href="Contact">Contact</a></th>
                <th><a href="Employees">Employees</a></th>
            </tr>
        </table>
    </div>
}
@section body {
    <h1>Your order has been placed.</h1>
    <p>Please come to our store to pick up your pizza.</p>
    @if(Model.cashToBring > 0)
    {
        <p>Also, be sure to bring your remaining unpaid balance of <b>$@Model.cashToBring</b>.</p>
    }
    <p>We look forward to seeing you soon when you arrive!</p>
}