@page
@{
    Layout = "Shared/_Layout.cshtml";
}
@section title {
    <title>Employees</title>    
}
@section siteMenu {
    <div name="Site Menu"></div>
        <table width="100%">
            <tr>
                <th><a href="Index">Rogers Pizza</a></th>
                <th><a href="Menu">Menu</a></th>
                <th><a href="Order">Order</a></th>
                <th><a href="About">About</a></th>
                <th><a href="Contact">Contact</a></th>
                <th>Employees</th>
            </tr>
        </table>
    </div>
}