@page
@model RogersPizza.Pages.MenuModel

@{
    Layout = "Shared/_Layout.cshtml";
}
@section title {
    <title>Menu</title>
}
@section siteMenu {
    <div name="Site Menu">
        <table width="100%">
            <tr>
                <th><a href="Index">Rogers Pizza</a></th>
                <th>Menu</th>
                <th><a href="Order">Order</a></th>
                <th><a href="About">About</a></th>
                <th><a href="Contact">Contact</a></th>
                <th><a href="Employees">Employees</a></th>
            </tr>
        </table>
    </div>
}
@section body {
    <div name="Menu"></div>
    <table align="center">
        @if (Model.Pizzas != null && Model.Pizzas.Count > 0)
        {
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => Model.Pizzas[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => Model.Pizzas[0].Price)
                    </th>
                </tr>
            </thead>
        }
        <tbody>
            @if (Model.Pizzas != null)
            {
                @foreach (var item in Model.Pizzas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
    <img src="/images/PepperoniPizza.jpg" style="width: 40%; height: 40%;" alt="Pepperoni Pizza">
    <img src="/images/VegetableSupreme.jpg" style="width: 40%; height: 40%;" alt="Vegetable Supreme">
}