@page
@model RogersPizza.Pages.MenuModel

@{
    Layout = "Shared/_Layout.cshtml";
}
@section title {
    <title>Menu</title>    
}
@section siteMenu {
    <div name="Site Menu"></div>
        <table width="100%">
            <tr>
                <th><a href="Index">Rogers Pizza</a></th>
                <th>Menu</th>
                <th><a href="Order">Order</a></th>
                <th><a href="About">About</a></th>
                <th><a href="Contact">Contact</a></th>
                <th><a href="Employees">Employees</a></th>
            </tr>
        </table>
    </div>
}