@page
@model RogersPizza.Pages.OrderModel
@{
    Layout = "Shared/_Layout.cshtml";
}
@section title {
    <title>Order</title>    
}
@section scripts {
    
}
@section siteMenu {
    <div name="Site Menu">
        <table width="100%">
            <tr>
                <th><a href="Index">Rogers Pizza</a></th>
                <th><a href="Menu">Menu</a></th>
                <th>Order</th>
                <th><a href="About">About</a></th>
                <th><a href="Contact">Contact</a></th>
                <th><a href="Employees">Employees</a></th>
            </tr>
        </table>
    </div>
    
}

@section body {
    <div name="Order UI">
        @*Order form with antiforgery token*@
        <form method="post" asp-antiforgery="true">
        @Html.AntiForgeryToken()
        <partial name="_ValidationScriptsPartial" />
        <p>What is your name?</p>
        <input name="Order.Name" pattern="[a-zA-z\s]+" placeholder="Letters and spaces only" required />
        <p>Choose your pizza.</p>
        <select asp-for="Pizzas" name="Order.Pizza" id="pizzas" required>        
        @if(Model.Pizzas != null)
        {
            @foreach(var item in Model.Pizzas)
            {
                <option value="@item.Name">@item.Name&nbsp;&nbsp;$@item.Price</option>
            }
        }
        </select>
        @*Display payment options with useState and useEffect*@
        <div id= "payment-options"></div>
        <script src="~/js/paymentOptionsBundled.js"></script>        
        <input type="submit" value="Place Order" />
        </form>        
    </div>
}