@page
@model RogersPizza.Pages.OrderModel
@{
    Layout = "Shared/_Layout.cshtml";
}
@section title {
    <title>Order</title>    
}
@section scripts {
    
}
@section siteMenu {
    <div name="Site Menu">
        <table width="100%">
            <tr>
                <th><a href="Index">Rogers Pizza</a></th>
                <th><a href="Menu">Menu</a></th>
                <th>Order</th>
                <th><a href="About">About</a></th>
                <th><a href="Contact">Contact</a></th>
                <th><a href="Employees">Employees</a></th>
            </tr>
        </table>
    </div>
    
}

@section body {
    <div name="Order UI">
        <form method="post" asp-antiforgery="true">
        @Html.AntiForgeryToken()
        <partial name="_ValidationScriptsPartial" />
        <p>Choose your pizza</p>
        <select asp-for="Order.Pizza" name="Order.Pizza" id="pizzas" required>
            @foreach(var item in Model?.Pizzas)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
        <div id= "payment-options"></div>
        <script src="~/js/paymentOptionsBundled.js"></script>
        <input type="hidden" asp-for="Order.ID" name="Order.ID" value="999">
        <input type="submit" value="Place Order" />
        </form>        
    </div>
}