@page
@{
    Layout = "Shared/_Layout.cshtml";
}
@section title {
    <title>Order</title>    
}
@section siteMenu {
    <div name="Site Menu"></div>
        <table width="100%">
            <tr>
                <th><a href="Index">Rogers Pizza</a></th>
                <th><a href="Menu">Menu</a></th>
                <th>Order</th>
                <th><a href="About">About</a></th>
                <th><a href="Contact">Contact</a></th>
                <th><a href="Employees">Employees</a></th>
            </tr>
        </table>
    </div>
}